body {
    background-color: #f8fafc !important;
}

header {
    text-align: center;
}

form{
    align-self: center;
}

tbody tr:hover{
    cursor: pointer;
}

#modalUpdate {
    left: 65%;
}

#filterbox {
    width: 300px;
}
/*filters-col size*/
thead tr th {
    padding: 3px !important;
}
thead tr th input {
    /*padding: 1px !important;*/
    width: 100% !important;
}
thead tr th:first-child input,
thead tr th:last-child input{
    /*padding: 1px !important;*/
    display: none;
}

#tr-select-wrapper .dropdown{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

#dr_surn-select-wrapper .search {
    width: 140px;
    max-width: 140px;
    min-width: 140px;
    /*font-size: 12px;*/
}

#dr_surn-select-wrapper .menu.transition .item {
    font-size: 12px !important;
}

.ui.modal .actions {
    text-align: center;
}

#modalUpdate-dr_surn-select .search,
#modalUpdate-dr_surn-select{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

header nav input,
header form input,
header a {
    height: 38px !important;
}

/* Column size */
table tr th:first-child, th:first-child input {
    width: 5px;
}

/*table tr th:nth-child(2), th:nth-child(2) input,*/
/*table tr th:nth-child(3), th:nth-child(3) input {*/
/*    width: 60px;*/
/*}*/

/*table tr th:nth-child(4), th:nth-child(4) input {*/
/*    width: 70px;*/
/*}*/

/*table tr th:nth-child(5), th:nth-child(5) input {*/
/*    width: 150px;*/
/*}*/

/*table tr th:nth-child(6), th:nth-child(6) input {*/
/*    width: 150px;*/
/*}*/

/*table tr th:nth-child(7), th:nth-child(7) input,*/
/*table tr th:nth-child(8), th:nth-child(8) input{*/
/*    width: 90px;*/
/*}*/

/*table tr th:nth-child(9), th:nth-child(9) input {*/
/*    width: 30px;*/
/*}*/

/* date */
table tr th:nth-child(2), th:nth-child(2) input {
    width: 60px;
    min-width: 60px;
}

/* cargo */
table tr th:nth-child(4), th:nth-child(4) input {
    width: 30px;
    min-width: 30px;
}

/* route */
table tr th:nth-child(5), th:nth-child(5) input {
    width: 150px;
    min-width: 150px;
}

/* carrier */
table tr th:nth-child(6), th:nth-child(6) input {
    width: 140px;
    min-width: 140px;
}

/*auto num*/
table tr th:nth-child(7), th:nth-child(7) input {
    width: 75px;
    min-width: 75px;
}

/*driver*/
table tr th:nth-child(8), th:nth-child(8) input {
    width: 70px;
    min-width: 70px;
}

/*f2 f1*/
table tr th:nth-child(9), th:nth-child(9) input,
table tr th:nth-child(10), th:nth-child(10) input{
    width: 30px;
}

/*tr*/
table tr th:nth-child(11), th:nth-child(11) input {
    width: 20px;
}



/* actions */
th:nth-child(13), th:nth-child(13) input {
    width: 20px;
}

table.dataTable thead th {
    padding: 5px 9px;
}

#autoTable_filter{
    height: 25px;
    display: none;
}

tr input[type="text"] {
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    padding-left: 2px;
    height: 24px;
    /*width: 120px;*/
    color: #333333;
    font-size: 12px;
    font-family: Tahoma, serif;
}

input[type="text"]:focus {
    color: #333333;
    border: 1px solid #00b5ad
}

@media screen and (max-width: 800px) {
    #modalUpdate {
        width: 100% !important;
    }

    .actions button {
        padding: 11px 21px !important;
        margin: 0 21px 11px 21px !important;
        width: 110px !important;
        /*text-align: center;*/
        /*margin-left: 30px;*/
    }

    header {
        flex-direction: column;
    }

    form input[type=date] {
        font-size: 11px !important;
        width: 120px;
    }

    nav {
        margin-bottom: 5px !important;
    }

    form button span {
        display: none;
    }

    form button {
        margin: 0 0 5px 0 !important;
        padding: 1px 1px 1px 12px !important;
        width: 40px;
    }

    form button i:before {
        font-size: 18px;
    }

    #autoButton {
        /*margin-top: 5px;*/
        width: 100px;
    }

    table tr td {
        padding: 6px 3px !important;
    }
}

@media screen and (max-width: 1030px) {

    form button span {
        display: none;
    }
}

